{
    servers {
		trusted_proxies static private_ranges
        enable_full_duplex
	}

    http_port 8080
    https_port 4443
    admin off

	frankenphp
}

# The domain name of your server
localhost {
	# Set the webroot to the public/ directory
	root public/

	# Enable compression (optional)
	encode zstd br gzip

	# Execute PHP files from the public/ directory and serve assets
	php_server {
		try_files {path} index.php
	}
}
