_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
auto-imports.d.ts
components.d.ts
.DS_Store
Thumbs.db
.idea
.vscode
.zed
.git
.gitignore
.gitattributes
.gitmodules
.github
.env.*
*.key
tests
phpunit.xml
phpstan.neon.dist
pest-plugins.json
node_modules
vendor
.pnpm-store
storage/logs/*
storage/framework/*
storage/pail
storage/debugbar/*
storage/**/*.php
storage/**/*.blade.php
storage/**/*.key
bootstrap/cache/*.php
public/build
public/hot
public/storage
public/vendor
dist
docs
*.zip
*.sql
*.tar.gz
*.sqlite
!database/database.sqlite
*.log
npm-debug.log*
pnpm-debug.log*
