_ide_helper_models.php
_ide_helper.php
.DS_Store
.env.*
.phpstorm.meta.php
.phpunit.result.cache
*.log
*.md
*.zip
*.sql
*.tar.gz
.git
.github
.gitignore
.gitattributes
.gitmodules
.idea
.pnpm-store
.vscode
.zed
bootstrap/cache/*.php
containers/systemd
docs
node_modules
public/build
public/hot
public/storage
public/vendor
resources/js/actions
resources/js/routes
resources/js/wayfinder
storage/**/*.key
storage/**/*.php
storage/**/*.blade.php
storage/pail
tests
vendor
auto-imports.d.ts
components.d.ts
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
!database/database.sqlite
