*.log
*.log.*
*.sql
*.sql.gz
*.sqlite
*.Caddyfile
**/.agents
**/.git
**/.github
**/.hg
**/.junie
**/.svn
/AGENTS.md
/data
/node_modules
/public
/storage
/vendor
composer.lock
package-lock.json
pnpm-lock.yaml
Caddyfile
