[Unit]
Description=Mailpit container

[Container]
Image=docker.io/axllent/mailpit:latest
AutoUpdate=registry
Environment=MP_MAX_MESSAGES=5000
Environment=MP_DATABASE=/data/mailpit.db
Environment=MP_SMTP_AUTH_ACCEPT_ANY=1
Environment=MP_SMTP_AUTH_ALLOW_INSECURE=1
NoNewPrivileges=true
Volume=stry-mailpit:/data:rw,Z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=1025
ExposeHostPort=8025

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=60
TimeoutStopSec=60
