[Unit]
Description=Queue container
After=stry.container
PartOf=stry.service

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=horizon
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
GroupAdd=keep-groups
AddDevice=/dev/dri/:/dev/dri/
Memory=3g
ShmSize=256m
Volume=${MEDIA_PATH}:/media:rw,z
Volume=stry-cache:/cache:rw,z
Network=stry.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=600
TimeoutStopSec=60
