[Unit]
Description=Reverb container
After=stry.container
BindsTo=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=reverb
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
Memory=512m
Network=stry.network
Network=proxy.network
ExposeHostPort=6001

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=60
