[Unit]
Description=Schedule container
After=stry.container
BindsTo=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=scheduler
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
ShmSize=256m
Volume=${MEDIA_PATH}:/media:rw,z
Volume=stry-cache:/cache:rw,z
Network=stry.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=60
