[Unit]
Description=RustFS container

[Container]
Image=docker.io/rustfs/rustfs:1.0.0-alpha.90
EnvironmentFile=%h/.config/containers/systemd/stry/config/rustfs.env
LogDriver=none
NoNewPrivileges=true
Memory=2g
Volume=stry-rustfs-data:/data:rw,Z,U
Volume=stry-rustfs-logs:/logs:rw,Z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=9000
ExposeHostPort=9001

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=60
