[Unit]
Description=Server-side Rendering (SSR) container
After=stry.container
BindsTo=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=APP_SERVICE=ssr
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
Volume=%h/.config/containers/systemd/stry/config/app.env:/config/app.env:ro,z
Network=stry.network
ExposeHostPort=13714

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/global.env
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=60
