[Unit]
Description=Stry container
After=stry-redis.container stry-pgsql.container stry-rustfs.container stry-typesense.container
Requires=stry-redis.container stry-pgsql.container stry-rustfs.container stry-typesense.container
Wants=stry-mailpit.container stry-reverb.container stry-queue.container stry-schedule.container stry-ssr.container

[Container]
Image=stry.build
AutoUpdate=local
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
ShmSize=256m
Volume=%h/.config/containers/systemd/stry/config/app.env:/config/app.env:ro,z
Volume=${MEDIA_PATH}:/media:rw,z,U
Volume=${IMPORT_PATH}:/import:rw,z,U
Volume=stry-cache:/cache:rw,z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=8000
ExposeHostPort=5173

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=30
