[Unit]
Description=Schedule container
After=stry.container
Requires=stry.container
PartOf=stry.service

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=scheduler
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
Memory=512m
Volume=${MEDIA_PATH}:/media:rw,z
Volume=${IMPORT_PATH}:/import:rw,z
Network=stry.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=600
TimeoutStopSec=60
