[Unit]
Description=Reverb container
After=stry.container
BindsTo=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=APP_SERVICE=reverb
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
ShmSize=128m
Volume=%h/.config/containers/systemd/stry/config/app.env:/config/app.env:ro,z
Network=stry.network
Network=proxy.network
ExposeHostPort=6001

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/global.env
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=60
