[Unit]
Description=Schedule container
After=stry.container
Requires=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=scheduler
UserNS=keep-id
Volume=${STORAGE_PATH}:/storage:rw
Network=stry.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=600
TimeoutStopSec=60
