[Unit]
Description=Server-side Rendering (SSR) container
After=stry.container
Requires=stry.container
PartOf=stry.service

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=ssr
UserNS=keep-id
NoNewPrivileges=true
DropCapability=ALL
Memory=512m
Network=stry.network
ExposeHostPort=13714

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=600
TimeoutStopSec=60
