{
    servers {
        enable_full_duplex
        trusted_proxies static private_ranges
    }

    # debug
    admin off
    local_certs
}

(pwa) {
	header Service-Worker-Allowed "/"
}

(tls) {
    tls internal
}

(compress) {
    encode zstd gzip
}

import /etc/caddy/sites/*.caddyfile
