[Unit]
Description=Laravel App (Octane) on-demand proxy
Requires={{application}}.service {{application}}-ondemand.socket
After={{application}}.service {{application}}-ondemand.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd --exit-idle-time={{ondemandIdleTimeout}} 127.0.0.1:{{ondemandPort}}
