[Unit]
Description=Reverb container
After=stry.container
Requires=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=reverb
UserNS=keep-id
Ulimit=nofile=1000:10000
Network=stry.network
Network=proxy.network
ExposeHostPort=6001

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=600
TimeoutStopSec=60
