[Unit]
Description=Stry container
After=stry-redis.container stry-pgsql.container stry-garage.container stry-typesense.container
Requires=stry-redis.container stry-pgsql.container stry-garage.container stry-typesense.container
Wants=stry-mailpit.container stry-reverb.container stry-queue.container stry-schedule.container stry-ssr.container

[Container]
Image=stry.build
AutoUpdate=local
UserNS=keep-id
Volume=${MEDIA_PATH}:/storage/media:rw,z,U
Volume=${IMPORT_PATH}:/storage/import:rw,z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=8000
ExposeHostPort=5173

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=600
TimeoutStopSec=30
