[Unit]
Description=Queue container
After=stry.container
Requires=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=horizon
ShmSize=256m
UserNS=keep-id
GroupAdd=keep-groups
AddDevice=/dev/dri/:/dev/dri/
Volume=${MEDIA_PATH}:/storage/media:rw,z
Volume=${IMPORT_PATH}:/storage/import:rw,z
Network=stry.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=600
TimeoutStopSec=60
