[Unit]
Description=RustFS container

[Container]
Image=docker.io/rustfs/rustfs:latest
AutoUpdate=registry
EnvironmentFile=%h/.config/containers/systemd/stry/config/rustfs.env
LogDriver=none
Volume=stry-rustfs-data:/data:rw,Z,U
Volume=stry-rustfs-logs:/app/logs:rw,Z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=9000
ExposeHostPort=9001

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=60
