[Unit]
Description=Redis container

[Container]
Image=docker.io/valkey/valkey:latest
AutoUpdate=registry
Exec=valkey-server --save --loglevel warning
Volume=stry-redis:/data:rw,Z,U
Network=stry.network
ExposeHostPort=6379

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=60
TimeoutStopSec=60
