:root {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --ui-header-height: --spacing(16);
  --ui-container: 90rem;
  --ui-bg: var(--ui-color-neutral-900);
  --ui-sidebar: var(--ui-color-neutral-950);
  --ui-primary: var(--ui-color-primary-300);
  --ui-secondary: var(--ui-color-secondary-300);
  --ui-border-accented: var(--ui-color-neutral-800);
}
