[Unit]
Description=Schedule container
Requires=stry.service
After=stry.service

[Container]
Image=localhost/stry:latest
AutoUpdate=local
LogDriver=none
Environment=CONTAINER_ROLE=scheduler
UserNS=keep-id
Volume=stry-cache:/cache:rw,z
Volume=${DATA_PATH}:/data:rw,z
Network=stry.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
TimeoutStartSec=90
Restart=always

[Install]
WantedBy=multi-user.target
