[Unit]
Description=Stry container
Requires=stry-redis.container stry-pgsql.container stry-mailpit.container stry-minio.container stry-typesense.container
After=stry-redis.container stry-pgsql.container stry-mailpit.container stry-minio.container stry-typesense.container
Wants=stry-reverb.container stry-queue.container stry-schedule.container stry-ssr.container

[Container]
Image=stry.build
AutoUpdate=local
LogDriver=none
AddDevice=/dev/dri/:/dev/dri/
UserNS=keep-id
Volume=${DATA_PATH}:/data:rw,z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=8080
ExposeHostPort=5173

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
TimeoutStartSec=900
