[Unit]
Description=Meilisearch container

[Container]
Image=docker.io/getmeili/meilisearch:latest
AutoUpdate=registry
LogDriver=none
EnvironmentFile=%h/.config/containers/systemd/stry/config/meilisearch.env
Volume=stry-meilisearch:/meili_data:rw,Z,U
Network=stry.network
ExposeHostPort=7700

[Service]
TimeoutStartSec=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
