[Unit]
Description=Queue container
Requires=stry.service
After=stry.service

[Container]
Image=localhost/stry:latest
AutoUpdate=local
LogDriver=none
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
Environment=CONTAINER_ROLE=horizon
UserNS=keep-id
AddDevice=/dev/dri/:/dev/dri/
Volume=stry-cache:/cache:rw,z
Volume=${DATA_PATH}:/data:rw,z
Network=stry.network

[Service]
TimeoutStartSec=90
Restart=always

[Install]
WantedBy=multi-user.target
