[Unit]
Description=Redis container

[Container]
Image=docker.io/valkey/valkey:latest
AutoUpdate=registry
Exec=valkey-server --save --loglevel warning
Volume=stry-redis:/data:rw,Z,U
Network=stry.network
ExposeHostPort=6379
HealthCmd=CMD-SHELL redis-cli ping | grep -q PONG || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=30s
HealthTimeout=5s

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target
