[Unit]
Description=Minio container

[Container]
Image=docker.io/minio/minio:latest
AutoUpdate=registry
EnvironmentFile=%h/.config/containers/systemd/stry/config/minio.env
LogDriver=none
Exec=minio server /data --console-address ":8900"
Volume=stry-minio:/data:rw,Z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=8900
ExposeHostPort=9000

[Service]
TimeoutStartSec=90
