[Unit]
Description=Queue container
After=stry.container
Requires=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=horizon
LogDriver=none
Tmpfs=/tmp
ShmSize=128m
AddDevice=/dev/dri/:/dev/dri/
UserNS=keep-id
Volume=${DATA_PATH}:/data:rw,z
Network=stry.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
TimeoutStartSec=300
