[Unit]
Description=Server-side Rendering (SSR) container
Requires=stry.container
After=stry.container

[Container]
Image=stry.build
AutoUpdate=local
Environment=CONTAINER_ROLE=ssr
LogDriver=none
UserNS=keep-id
Volume=${DATA_PATH}:/data:rw,z
Network=stry.network
ExposeHostPort=13714

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
TimeoutStartSec=180
