[Unit]
Description=Stry container
Requires=stry-redis.service stry-pgsql.service stry-meilisearch.service stry-mailpit.service stry-minio.service
After=stry-redis.service stry-pgsql.service stry-meilisearch.service stry-mailpit.service stry-minio.service
Wants=stry-reverb.service stry-queue.service stry-schedule.service

[Container]
Image=localhost/stry:latest
AutoUpdate=local
LogDriver=none
UserNS=keep-id
AddDevice=/dev/dri/:/dev/dri/
Volume=${APP_PATH}:/app:rw,z,U
Network=stry.network
Network=proxy.network
ExposeHostPort=8080
ExposeHostPort=5173

[Service]
EnvironmentFile=%h/.config/containers/systemd/stry/config/app.env
TimeoutStartSec=900
Restart=on-failure

[Install]
WantedBy=multi-user.target
